*{
    box-sizing: border-box;
}
.footerfloat{
    font-size: 2em;
}
#homeexpat{
    height: 300px;
    background-size: 100% 100%;
}
form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea {
    margin-bottom: .5em;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    background-color: #c2eafe;
}

main ul {
    padding-left: 2em;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

h1{
    color:#231814;    
    background-color: #8cbbd2;
    font-size: 1em;
    margin:0;
    margin-left: 0px;
    padding: 30px;
    text-align: center;
}

h2{
    color:#45268c;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

h3{
    color:#264a8c;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

h4{
    background-color: #e3c0d3;
    font-size: 1.2em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    border-bottom:#d28cb3;
    clear:left;
    text-align: center;
}

p{
    padding-left: 1em;
    padding-right: 1em;
}

div{
    padding-left: 1em;
    padding-right: 1em;
}

dl{
    padding-left: 1em;
    padding-right: 1em;
}

dt{
    color:#e3c0d3;
}

ul{
    padding-left: 3em;
    padding-right: 2em;
    background-color: #8cbbd2;
    border-style: double;
}

#wrapper {
    background-color: #231814;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 150px 150px;    
}

header{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 200px;
    background-repeat: no-repeat;
    padding-left: 105px;
    height: 128px;
    color:#231814;
    border: #45268c;
    border-style: groove;
    background-color: #8cbbd2;
    font-size: 4em;
    margin:0;
    font-weight: bold;
    text-align: center;
}

nav {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav li {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: solid 1px;
    border-color: #0800ff;;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

.details {
    padding: 5px;
    display: flex;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color:#00ff4c;
}
nav a:visited {
    color:#ffffff;
}
nav a:hover {
    color:#339ccc;
}

body {
    display: block;
    color:#221811;
    font-family: Tahoma, Arial, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    background-color: #98ecb6;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    background-color: #ffffff;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px #8C3826;
    border-style: solid;

}

table {
    width: 90%;
    border-spacing: 0;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #8ed29c;
}

@media (min-width: 600px){
    header {
        text-align: center;
        padding-left: 0;
    }

    h1 {
        font-size: 3em;
    }

    nav ul {
        flex-wrap: nowrap;
        flex-direction: row;
        display: inline-flex;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
        border-style: double;
    }

    #flow {
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h4 {
        margin-left: 10%;
        margin-right: 10%;
    }

    form {
        width: 40%;
        display: grid;
        grid-gap: 1em; gap: 1em;
        flex-direction: column;
        grid-template-columns: 6em 1fr;
    }

    input[type="submit"] {
        grid-column: 2/3;
        width: 10em;
        margin-left: 0;
    }

    input[type="submit"] {
        grid-column: 2/3;
        width: 9em;
        margin-left: 0;
    }

    @media (min-width: 1024px) {
    @supports (display: grid){
        #wrapper {
            display: grid;
            grid-template: "header header"
            "nav main"
            "footer footer"
            / 200px;
        }
        header { grid-area: header; }
        nav { grid-area: nav; }
        main { grid-area: main; }
        footer { grid-area: footer; }
    }

    nav ul {
        flex-direction: column;
    }

    header {
        background-size: 200px 150px;
    }
}
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.column6 {
  float: right;
  width: 15%
}

.column3 {
  float: right;
  width: 30%
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 16px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.outer {
  display: grid; 
  grid-template-columns: 1fr 6fr 1fr; 
  gap: 18px; 
}

.inner {
  padding: 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.grid-outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 12px; 
}

.grid-inner {
  border: 1px solid #ccc;
  padding: 18px;
  text-align: center;
}

.show-noshow {
    display: none;
}

}